# -*- coding: utf-8 -*-
#
# Copyright (C) 2020 CERN.
# Copyright (C) 2020 TU Graz.
#
# invenio-shibboleth is free software; you can redistribute it and/or modify
# it under the terms of the MIT License; see LICENSE file for more details.

# TODO: Generate this manifest file by running the following commands:
# (please sort the lines in this file after running below commands)
#
#  git init
#  git add -A
#  pip install -e .[all]
#  check-manifest -u

include *.rst
include *.sh
include *.txt
include .dockerignore
include .editorconfig
include .tx/config
include LICENSE
include babel.ini
include pytest.ini
prune docs/_build
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include examples *.py
recursive-include examples *.sh
recursive-include invenio_shibboleth *.html
recursive-include invenio_shibboleth/translations *.po *.pot *.mo
recursive-include tests *.py

# added by check-manifest
recursive-include tests *.py

# added by check-manifest
recursive-include tests *.py

# added by check-manifest
recursive-include tests *.crt
recursive-include tests *.key
recursive-include tests *.xml

# added by check-manifest
recursive-include invenio_shibboleth *.py
recursive-include invenio_shibboleth *.sh

# added by check-manifest
recursive-include tests *.sh
